/* Global */
body {
    font-size: 20px;
    background: #3d3d3d;
    color: #fff;
    text-align: center;
    
    margin: 0;
    
    font-family: 'Overpass', sans-serif;
}


/* header */
.header-title h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
    
}
.header-title h2 {
    font-size: 30px;
    color: bisque;
}

/* Lyrics section */
.lyrics {
    margin: 0;
    color: black;
    background-color: bisque;
    padding: 10px 40px 10px 40px;
}

.title-above-lyrics {
    font-size: 25px;
    color: #3d3d3d;
}